.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 80%;
  margin: 2% 10%;
}  

.container-smurfs{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 600px;
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
  background: rgba(244,244,244,.8);
  text-align: center;
}


h1 {
  font-size: 1.8rem;
  margin: 10px auto;
  width: 80%;
  border: 1px solid black;
  border-radius: 4px;
  background: rgba(244,244,244,.8);
  text-align: center;
}


.info {
  width: 80%;
  font-size: 1.1rem;
  background: rgba(244,244,244,.8);
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
}

.header-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(244,244,244,.8);
  height: 150px;
}


.smurf-form {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 600px;
  padding: 40px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background: rgba(244,244,244,.8);
  text-align: center;
}

.smurf-input {
  border-radius: 4px;
  border: 1px solid black;
  margin: 10px;
}

.smurf-button {
  margin: auto 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(244,244,244,.8);
}



.delete {
  background: rgba(244,100,100,.8);
  width: 10%;
  margin: auto;
}

.delete:hover{
  background: rgba(244,100,100,1);
}